.b1{
    background-image: url(../../../../static/cards/1b.jpg);
}

.b2{
    background-image: url(../../../../static/cards/2b.jpg);
}

.b3{
    background-image: url(../../../../static/cards/3b.jpg);
}

.b4{
    background-image: url(../../../../static/cards/4b.jpg);
}

.b5{
    background-image: url(../../../../static/cards/5b.jpg);
}

.b6{
    background-image: url(../../../../static/cards/6b.jpg);
}

.b7{
    background-image: url(../../../../static/cards/7b.jpg);
}

.zero{
    background-image: url(../../../../static/cards/zero.png);
}

.b8{
    background-image: url(../../../../static/cards/8b.jpg);
}

.b9{
    background-image: url(../../../../static/cards/9b.jpg);
}

.b10{
    background-image: url(../../../../static/cards/10b.jpg);
}


.b11{
    background-image: url(../../../../static/cards/11b.jpg);
}

.b12{
    background-image: url(../../../../static/cards/12b.jpg);
}


.b13{
    background-image: url(../../../../static/cards/13b.jpg);
}
.h1{
    background-image: url(../../../../static/cards/1h.jpg);
}
.h2{
    background-image: url(../../../../static/cards/2h.jpg);
}
.h3{
    background-image: url(../../../../static/cards/3h.jpg);
}
.h4{
    background-image: url(../../../../static/cards/4h.jpg);
}
.h5{
    background-image: url(../../../../static/cards/5h.jpg);
}
.h6{
    background-image: url(../../../../static/cards/6h.jpg);
}
.h7{
    background-image: url(../../../../static/cards/7h.jpg);
}
.h8{
    background-image: url(../../../../static/cards/8h.jpg);
}
.h9{
    background-image: url(../../../../static/cards/9h.jpg);
}
.h10{
    background-image: url(../../../../static/cards/10h.jpg);
}
.h11{
    background-image: url(../../../../static/cards/11h.jpg);
}
.h12{
    background-image: url(../../../../static/cards/12h.jpg);
}
.h13{
    background-image: url(../../../../static/cards/13h.jpg);
}
.k1{
    background-image: url(../../../../static/cards/1k.jpg);
}
.k2{
    background-image: url(../../../../static/cards/2k.jpg);
}
.k3{
    background-image: url(../../../../static/cards/3k.jpg);
}
.k4{
    background-image: url(../../../../static/cards/4k.jpg);
}
.k5{
    background-image: url(../../../../static/cards/5k.jpg);
}
.k6{
    background-image: url(../../../../static/cards/6k.jpg);
}
.k7{
    background-image: url(../../../../static/cards/7k.jpg);
}
.k8{
    background-image: url(../../../../static/cards/8k.jpg);
}
.k9{
    background-image: url(../../../../static/cards/9k.jpg);
}
.k10{
    background-image: url(../../../../static/cards/10k.jpg);
}
.k11{
    background-image: url(../../../../static/cards/11k.jpg);
}
.k12{
    background-image: url(../../../../static/cards/12k.jpg);
}
.k13{
    background-image: url(../../../../static/cards/13k.jpg);
}

.t1{
    background-image: url(../../../../static/cards/1t.jpg);
}
.t2{
    background-image: url(../../../../static/cards/2t.jpg);
}
.t3{
    background-image: url(../../../../static/cards/3t.jpg);
}
.t4{
    background-image: url(../../../../static/cards/4t.jpg);
}
.t5{
    background-image: url(../../../../static/cards/5t.jpg);
}
.t6{
    background-image: url(../../../../static/cards/6t.jpg);
}
.t7{
    background-image: url(../../../../static/cards/7t.jpg);
}
.t8{
    background-image: url(../../../../static/cards/8t.jpg);
}
.t9{
    background-image: url(../../../../static/cards/9t.jpg);
}
.t10{
    background-image: url(../../../../static/cards/10t.jpg);
}
.t11{
    background-image: url(../../../../static/cards/11t.jpg);
}
.t12{
    background-image: url(../../../../static/cards/12t.jpg);
}
.t13{
    background-image: url(../../../../static/cards/13t.jpg);
}
.cellRow{
    display: flex;
    justify-content: center;
    margin: 0 -5px;
    transition: 1s;
}
.pokerUi{
    margin-top: 50px;
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    transition: 1s;
}
.pokerUi::before{
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
    filter: blur(5px);
    position: absolute;
}
.ccard{
    width: 200px;
    height: 250px;
    background-size: cover;
    transition: 1s;
}

.animated {
    animation: move 2.5s infinite linear;
}

@keyframes move {
    0% {
      transform:  scale(1);
      background-color: none;
    }
    50% {
      transform: scale(1.2);
      background-color: rgba(83, 236, 142, 0.315);
    }
    100% {
      transform: scale(1);
    }
  }